@import 'typography';
@import 'mixin';

:root {
  // COLORS
  --gold-color: #DBAE64;
  --black-color: #0C0C0C;

  // GRADIENTS
  --light-gold-gradient: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
  --dark-gold-gradient: linear-gradient(180deg, #F4DCB3 0%, #5C3D06 100%);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: url("../../assets/bg.png") no-repeat center / cover;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.main {
  max-width: 1440px;
  margin: auto;
  padding: 68px 20px 104px;

  &__logo-default {
    margin: auto;
    max-width: 380px;
    margin-bottom: 100px;
  }

  &__current-feodal {
    margin: auto;
  }

  &__nav-btn {
    flex-basis: 88px;
  }

  &__previous-button {
    @include text;
    position: relative;
    font-size: 26px;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      background: var(--gold-color);
      opacity: 0.2;
      left: 0;
      right: 0;
      height: 1px;
    }
  }

  &.default {
    .timeline {
      display: none;
    }
  }
}

.person {
  position: relative;
  user-select: none;

  // Container for linear-gradient border
  &__img-container {
    border-radius: 50%;
    position: relative;
    margin: auto;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      border-radius: 50%;
      background: var(--light-gold-gradient);
      z-index: -1;
    }
  }

  &__img {
    border-radius: 50%;
  }


  &__title {
    @include text;
    margin-bottom: 0.3em;
  }

  &__post {
    margin: 0;
    @include text;
  }

  &_size_s {
    max-width: 227px;
    margin-bottom: 89px;

    .person__title {
      font-size: 32px;
    }

    .person__post {
      font-size: 17px;
    }
  }

  &_size_m {

    .person__img-container {
      max-width: 360px;
    }

    .person__title {
      font-size: 61px;
      margin-bottom: 21px;
    }

    .person__post {
      font-size: 17px;
    }
  }

  &__vassals-counter-container {
    position: absolute;
    width: 68px;
    height: 71px;
    left: calc(14% - 68px / 2);
    bottom: calc(14% - 71px / 2);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;

      width: 68px;
      height: 71px;
      display: block;
      background: url(../../assets/bg_count.png) no-repeat center / 68px 71px;
    }
  }

  &__vassals-counter {
    @include text;
    background-image: var(--dark-gold-gradient);
    z-index: 1;
    font-size: 29px;
  }

}

.vassals-wrapper {
  max-width: 1096px;
  margin: auto;
}

.vassals {
  max-width: 1096px;
  margin: auto;
  margin-left: -20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__vassal {
    margin-left: 20px;
  }
}

.feodal-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // &__person {}
}

.arrow-button {
  --size: 46px;
  --gap: -60px;
  width: var(--size);
  height: var(--size);
  border: 1px solid rgba(219, 174, 100, 0.2);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;

  position: absolute;
  top: calc(50% - var(--size) / 2);

  &_forward {
    right: calc(var(--gap) - var(--size));
    background: url(../../assets/arrow_right.svg) no-repeat center;
  }

  &_back {
    left: calc(var(--gap) - var(--size));
    background: url(../../assets/arrow_left.svg) no-repeat center;
  }
}

.timeline {
  margin: 70px auto 100px;
  width: 13px;
  height: 132px;
  background: url('../../assets/line.svg') no-repeat center / 13px 131px;

  img {
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .main {
    max-width: 893px;

    &__logo-default {
      max-width: 284px;
      margin-bottom: 58px;
    }

    &_vassals {
      max-width: 660px;
    }
  }
}

@media (max-width: 768px) {
  .main {
    max-width: 676px;

    &__logo-default {
      max-width: 444px;
      margin-bottom: 106px;
    }
  }

}

@media (max-width: 620px) {
  .arrow-button {
    --gap: -30px;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 29px 20px 79px;

    &__logo-default {
      max-width: 202px;
    }

    &__previous-button {
      font-size: 17px;
    }

    &__nav-btn {
      flex-basis: 60px;
    }
  }

  .person {
    &_size_s {
      max-width: 142px;

      .person__title {
        font-size: 19px;
      }

      .person__post {
        font-size: 12px;
      }
    }

    &_size_m {
      max-width: 196px;
      margin-top: 70px;

      .person__title {
        font-size: 41px;
      }
    }
  }

  .vassals {
    margin-left: -10px;
    &__vassal {
      margin-left: 10px;
    }
  }

  .arrow-button {
    --size: 35px;
    --gap: -15px;

    background-size: 9px 17px;
  }

  .timeline {
    background: url('../../assets/line_mini.svg') no-repeat center / 13px 56px;
    margin: 38px auto 34px;
  }
}
