@import 'typography';
@import 'mixin';

:root {
  // COLORS
  --gold-color: #DBAE64;
  --black-color: #0C0C0C;

  // GRADIENTS
  --light-gold-gradient: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
  --dark-gold-gradient: linear-gradient(180deg, #F4DCB3 0%, #5C3D06 100%);
}

html,
body {
  min-height: 100%;
}

body {
  background: url(/assets/bg.png) no-repeat center / cover;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.main {
  max-width: 1440px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 104px;

  &__current-feodal {
    margin: auto;
  }

  &__feodal {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__nav-btn {
    flex-basis: 88px;
  }

  &__vassals {
    max-width: 1096px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-between;
  }

  &__previous-button {
    @include text;
    position: relative;
    font-size: 26px;

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      background: var(--gold-color);
      opacity: 0.2;
      left: 0;
      right: 0;
      height: 1px;
    }
  }
}

.logo {

  &_mini {
    width: 88px;
    height: 36px;
  }
}

.person {

  user-select: none;

  // Container for linear-gradient border
  &__img-container {
    border-radius: 50%;
    position: relative;
    margin: auto;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      border-radius: 50%;
      background: var(--light-gold-gradient);
      z-index: -1;
    }
  }

  &_vassal {
    max-width: 210px;
    margin-bottom: 89px;

    & + & {
      margin-left: 30px;
    }
  }

  &__img {
    border-radius: 50%;
  }

  &__vassals-counter-container{
    position: absolute;
    width: 68px;
    height: 71px;
    left: calc(14% - 68px / 2);
    bottom: calc(14% - 71px / 2);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;

      width: 68px;
      height: 71px;
      display: block;
      background: url(/assets/bg_count.png) no-repeat center / 68px 71px;
    }
  }

  &__vassals-counter {
    @include text;
    background-image: var(--dark-gold-gradient);
    z-index: 1;
    font-size: 29px;
  }

  &__title {
    @include text;
    margin-bottom: 0.3em;
  }

  &__post {
    margin: 0;
    @include text;
  }

  &_feodal &__title {
    font-size: 61px;
    margin-bottom: 21px;
  }

  &_feodal &__post {
    font-size: 17px;
  }

  &_feodal &__img-container {
    max-width: 359px;
  }


  &_vassal &__title {
    font-size: 32px;
    white-space: nowrap;
  }

  &_vassal &__post {
    font-size: 17px;
  }

  &_feodal {
    position: relative;
  }
}

.arrow-button {
  --size: 46px;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--gold-color);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;

  position: absolute;
  top: calc(50% - var(--size) / 2);

  &_forward {
    right: calc(-60px - var(--size));
    background: url(/assets/arrow_right.svg) no-repeat center;
  }

  &_back {
    left: calc(-60px - var(--size));
    background: url(/assets/arrow_left.svg) no-repeat center;
  }
}

.timeline {
  margin: 70px auto 100px;

  img {
    margin: auto;
  }
}